body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #d5ba98;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Espacio entre el juego y el historial */
}

#respuesta {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}
#respuesta:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

#comprobar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#sugerencias {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 75px;
  overflow-y: auto;
  display: none; /* Oculto inicialmente */
}

#sugerencias div {
  padding: 10px;
  cursor: pointer;
}

#sugerencias div:hover {
  background-color: #f0f0f0;
}
#historial-scores {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px; /* Ancho fijo para el historial */
}

#lista-scores {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#lista-scores li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#intentar-de-nuevo {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#intentar-de-nuevo:hover {
  background-color: #0056b3;
}
#nombre-usuario-container {
  margin-bottom: 20px;
  text-align: center;
}

#nombre-usuario {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

#confirmar-nombre {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

#confirmar-nombre:hover {
  background-color: #0056b3;
}
#score {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
#contador {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#escudos-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 10px; /* Espacio entre los elementos */
  max-height: 400px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Añade un scroll vertical si el contenido excede la altura */
  padding: 10px; /* Espacio interno para que no se peguen los elementos al borde */
  border-radius: 8px; /* Bordes redondeados */
  align-items: center;
}

#escudos-container img {
  width: 100px; /* Ancho fijo para los escudos */
  height: 100px; /* Alto fijo para los escudos */
  object-fit: contain; /* Asegura que la imagen se ajuste sin distorsionarse */
  border-radius: 8px; /* Bordes redondeados para los escudos */
  border: 2px solid #ddd;
}
.flecha {
  font-size: 40px; /* Tamaño de la flecha */
  color: #333; /* Color de la flecha */
  margin: 0 10px; /* Espacio alrededor de la flecha */
}
input[type="text"] {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
}
